body{
	height: 1500px;
	font-family: 'Roboto', sans-serif;

}
.wrapper{
	display: flex;
    width: 100%;
	text-align: stretch;

}

.wrapper .content  .container-fluid #customer{
	text-align: center;
}
.wrapper #sidbar {
	min-width: 200px;
	max-width: 200px;
	min-height: 100vh;
	position: relative;
		background-color: #45454d;


}
.wrapper #sidbar  .sidebar-header{
	position: absolute;

}
.wrapper #sidbar  .sidebar-header #logo{
	height: 3.5rem;
	width: 100%;
	animation-name: logo;
	animation-duration: 4s;
}

.wrapper  #sidbar .components li.two{
		background-color: transparent;
		font-weight: bold;
		border:none;
		width: 100%;
		text-align: center;

	}
.wrapper ul.components{
	margin-top: 100px;


}
.wrapper ul.components a{
	text-decoration: none;
	color: white
}
.wrapper ul.components  a li.one {
	border: transparent;
	padding: 10px;
	font-weight: bold;
	text-align: center;
	color: white
}
/*any link in cont
ent box */
/*box content */
.wrapper #content{
	width: 100%;
	position: relative;


}
.wrapper #content #orders,#reports,#seller,#profits{
	margin-bottom: 20px;
}

.wrapper #content  h2{
	text-transform: capitalize;
	color: #45454d;
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: .5em
	margin-top: .5em;

}
 .wrapper #content a {
 	text-decoration: none;
 	color: white
 }
 /*Toggle sidebar */
 .wrapper #content #sidebarCollapse
 {
 	margin-top: 80px;
 	position: absolute;
	bottom:  -20px;
	right: 0
 }


/*media query only screen and width 600px */
@media only screen and (max-width: 600px){

	.wrapper #content{
		margin-left: 2.4rem;
1		text-align: center;
	}
	.wrapper #content h2{
		color: #464159;
		font-size: 1rem;
	}
	
	.wrapper #content #sidebarCollapse{
			padding: 0;
			margin-right: 150px;
			text-align: center;

	}
	.wrapper  #sidbar{
		background-color: #464159;
			}
	.wrapper  #sidbar .sidebar-header #logo{
		animation-name: logo;
		animation-duration: 4s;

	}
	.wrapper  #sidbar .components li.two{
		background-color: transparent;
		font-weight: bold;
		border:none;
	}
	.wrapper  #sidbar .components li.one{
		background-color: transparent;;
		font-weight: bold;
		border:none;
		color: white
	}
	.wrapper  #sidbar .components{
		
	
	}
}
@keyframes logo {
	from{
		opacity: .3;
	}
	to{
		opacity: 1;
	}
}