.navbar-inverse,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu

{
		background: #00A9FF

}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,.carousel-indicators .active

{
	background: #00A9FF;

}
.about h1 span,.testimonilaes .carousel-inner .item  span

{
		color: #00A9FF

}
.footer h4,.footer .copyright span

{
		color: #00A9FF;

}

